[user]
	email = antonyo.turco@gmail.com
	name = antonyo.turco
[init]
	defaultBranch = main
[alias]
    # list all aliases
    alias = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
    # better log 
    blog = log --graph --decorate --abbrev-commit
    # better branch
	bbranch = branch -vv
    # reset to last commit
	reboot = !git reset --hard HEAD | git clean -f | echo "Rebooted to last commit, changes uncommitted or untracked have been lost to the sands of time."
    # add file/folder to .gitignore 
	ignore = "!f() { echo $1 >> \"${GIT_PREFIX}.gitignore\"; }; f"
    # fetch recommended ignores based on language
	fetch-ignore = "!sh /mnt/c/Users/anton/Documents/dotfiles/scripts/fetch_ignore.sh"
	# add changes, then print status -s
	sad = "!f() { git add \"$@\" && git status -s; }; f"
	# squashes the last n commits together:
	squash = !git_squash.sh \"$@\"
    # see last 2 commits info
	last = "!f() { count=${1:-2}; git log -\"$count\" HEAD --stat; }; f"
	search = !git rev-list --all | xargs git grep -F
	s = status -s
[core]
	editor = vim
[credential "https://github.com"]
	helper = 
    helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
[filter "nbstripout"]
	clean = \"/usr/bin/python3\" -m nbstripout
	smudge = cat
[diff "ipynb"]
	textconv = \"/usr/bin/python3\" -m nbstripout -t
